[Unit]
Description=Let's Encrypt automatic renewal

[Timer]
OnCalendar=daily
# Appy a random delay up to one day.
RandomizedDelaySec=1day
# Catch up when an invocation was missed.
Persistent=true

[Install]
WantedBy=timers.target
